.login-container {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    margin: 100px auto;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgb(91, 35, 35);
    border-radius: 4px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #8B4513;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #6b3310;
}

.signup {
    margin-top: 10px;
}

.login-container a {
    text-decoration: none;
    color: #8B4513;
}
