body {
    display: flex;
    min-height: 100vh;
    background-color: #f8f9fa;
}

.sidebar {
    width: 250px;
    background-color: #4c2602;
    color: white;
    transition: width 0.3s;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 15px;
    transition: background-color 0.2s;
}

.sidebar a:hover,
.sidebar a.active {
    background-color: #5e2f08;
}

.sidebar h4 {
    font-size: 1.2rem;
    white-space: nowrap;
}

.sidebar.collapsed {
    width: 60px;
}

.sidebar.collapsed h4,
.sidebar.collapsed a span {
    display: none;
}

.sidebar.collapsed img {
    width: 32px !important;
    height: 32px !important;
}

.main-content {
    flex: 1;
    padding: 30px;
    transition: margin-left 0.3s;
}

.sidebar-link {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    transition: background-color 0.2s;
}

.sidebar-link:hover,
.sidebar-link.active {
    background-color: #5e2f08;
}

.sidebar.collapsed .sidebar-link span {
    display: none;
}
/* Barre de recherche */
.search-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#search-input {
    padding: 8px 12px;
    border: 2px solid #3B220F;
    border-radius: 8px;
    width: 250px;
}

#search-btn {
    background-color: #3B220F;
    color: #FFF6CC;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}

#search-btn:hover {
    background-color: #FFF6CC;
    color: #3B220F;
    border: 1px solid #3B220F;
}

/* Pagination */
.pagination {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #3B220F;
    color: #FFF6CC;
    border: none;
    padding: 6px 14px;
    border-radius: 8px;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
    background-color: #FFF6CC;
    color: #3B220F;
    border: 1px solid #3B220F;
}

.pagination span {
    font-weight: bold;
    color: #3B220F;
}

/* Bouton Valider */
.btn-validate {
    background-color: #3B220F;
    color: #FFF6CC;
    border: none;
    padding: 6px 14px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-validate:hover {
    background-color: #FFF6CC;
    color: #3B220F;
    border: 1px solid #3B220F;
}
